@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the Poll Application</h2>

<p>
    <a asp-controller="Poll" asp-action="Index">View Polls</a>
</p>
<p>
    <a asp-controller="Account" asp-action="Login">Login</a>
</p>
